TPComptaPlus/Projets/WSComptaPlus/SideClientWebServiceComptaPlus/Connected Services/WsComptaPlus/ServiceComptaPlus1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FrameWorkSide.Models.WebServices.Json" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FrameWorkSide.Models.WebServices.Json" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51171/ServiceComptaPlus.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51171/ServiceComptaPlus.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FrameWorkSide.Enum" />
  <xs:complexType name="ArrayOfPcmnModelJson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PcmnModelJson" nillable="true" type="tns:PcmnModelJson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPcmnModelJson" nillable="true" type="tns:ArrayOfPcmnModelJson" />
  <xs:complexType name="PcmnModelJson">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DtCrea" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DtModif" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsD365" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHS" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRowSpecial" type="xs:boolean" />
      <xs:element minOccurs="0" name="OptimisticlockField" type="xs:int" />
      <xs:element minOccurs="0" name="RecId365" type="xs:float" />
      <xs:element minOccurs="0" name="Societe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeCompte" type="xs:int" />
      <xs:element minOccurs="0" name="UserCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserModif" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PcmnModelJson" nillable="true" type="tns:PcmnModelJson" />
  <xs:complexType name="WebServiceModelJson">
    <xs:sequence>
      <xs:element minOccurs="0" name="CopyRightWs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionWS" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FrameWorkSide.Enum" minOccurs="0" name="EtatWs" type="q1:EtatWebService" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="NomWS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceModelJson" nillable="true" type="tns:WebServiceModelJson" />
</xs:schema>